#MAVEN_FILES
mvnw.cmd
pom.xml.backup
pom.xml.versionsBackup
pom.xml.tag
pom.xml.releaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#INTELLIJ_FILES
out/
.idea/
*.iml
*.iws
*.ipr

#ECLIPSE_FILES
.classpath
.project
.settings/

#NETBEANS_FILES
nb-configuration.xml
nbactions.xml
nb-gradle/

#LOG_FILES
*.log

#SYSTEM_FILES
.DS_Store
Thumbs.db

#TEMPORARY_FILES
*~
*.swp
*.bak
*.tmp
*.temp

#OTHER...
bin/
src/main/resources/static/
.dockerignore
README.md
LICENSE
*.md